$lightyellow:#FDFFF7;
$white: #FFFFFF;
$black: #000000;
$darkgreen: #1E352F;
$green: #13CFA2;
$fontStyleItalic: italic;
$fontStyleNormal: normal;
$displayFlex: flex;
$fontFamily_montserrat: 'Montserrat';
$fontFamily_source: 'Source Code Pro'