@import '././style/mixins.scss';
@import '././style/variables.scss';

.Dashboard{
    @include size(100%, auto);
    background-color: $lightyellow;
    @include flexBox(flex, column, center, center);
    .Dashboard_header{
        @include size(100%, auto);
        @include flexBox(flex, column, center, center);
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .Dashboard_message{
        min-height: 600px;
        @include size(100%, auto);
        background-color: $lightyellow;
        @include flexBox(flex, column, center, center);
        .Dashboard_message_txt{
            @include fontSet($fontFamily_montserrat, 30px, normal, 700, $green);
        }
    }
    .Dashboard_error_message{
        min-height: 600px;
        @include size(100%, auto);
        background-color: $lightyellow;
        @include flexBox(flex, column, center, center);
        .Dashboard_error_message_txt{
            @include size(500px, auto);
            text-align: center;
            @include fontSet($fontFamily_montserrat, 30px, normal, 700, $green);
        }
    }
    .Dashboard_content{
        @include size(100%, auto);
        min-height: 700px;
        @include flexBox(flex, row, center, space-around);
        .Dashboard_content_left{
            padding-left: 21vh;
            padding-bottom: 70px;
            @include size(65%, auto);
            @include flexBox(flex, column, flex-start, flex-start);
            .Dashboard_content_left_top{
                @include size(65%, auto);
                @include flexBox(flex, column, center, flex-start);
                .Dashboard_content_left_top_congrats{
                    @include flexBox(flex, row, center, flex-start);
                    margin-bottom: 20px;
                    p{
                        @include fontSet($fontFamily_montserrat, 30px, normal, 700, $darkgreen);
                    }
                    span{
                        @include fontSet($fontFamily_montserrat, 30px, normal, 700, $darkgreen);
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .Dashboard_content_left_top_modules{
                    @include flexBox(flex, row, flex-start, space-between);
                    .Dashboard_content_left_top_modules_logo{
                        @include size(330px, 120px);
                        @include flexBox(flex, row, flex-start, space-between);
                        .Dashboard_content_left_top_modules_logo_img{
                            @include size(59px, 59px);
                            background: url('../img/books.png') transparent 50% / cover no-repeat;
                        }
                        .Dashboard_content_left_top_modules_logo_txt{
                            margin-top: 15px;
                            margin-left: 20px;
                            @include fontSet($fontFamily_montserrat, 27px, normal, 700, $darkgreen);
                        }
                    }
                    .Dashboard_content_left_top_modules_navigation{
                        @include flexBox(flex, row, center, space-between);
                        .Dashboard_content_left_top_modules_btn_1{
                            margin-right: 25px;
                            @include size(100px, 54px);
                            background-color: $green;
                            user-select: none;
                            border-radius: 22px;
                            @include fontSet($fontFamily_montserrat, 13px, normal, 500, $white);
                            @include flexBox(flex, column, center, center);

                        }
                        .Dashboard_content_left_top_modules_btn_2{
                            margin-right: 25px;
                            @include size(100px, 54px);
                            background-color: $darkgreen;
                            border-radius: 22px;
                            user-select: none;
                            @include fontSet($fontFamily_montserrat, 13px, normal, 500, $white);
                            @include flexBox(flex, column, center, center);
                        }
                        .Dashboard_content_left_top_modules_btn_3{
                            @include size(100px, 54px);
                            background-color: $green;
                            border-radius: 22px;
                            user-select: none;
                            @include fontSet($fontFamily_montserrat, 13px, normal, 500, $white);
                            @include flexBox(flex, column, center, center);
                        }
                    }
                }
            }
            .Dashboard_content_left_main{
                text-decoration: none;
                @include flexBox(flex, column, flex-start, flex-start);
            }
        }
        .Dashboard_content_right{
            @include size(35%, auto);
            .Dashboard_content_right_widget{
                @include size(365px, 685px);
                cursor: pointer;
                @include flexBox(flex, column, space-around, flex-start);
                background-color: $darkgreen;
                border-radius: 20px;
                padding: 0px 40px;
                box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0.25);
                .user_data_widget{
                    @include flexBox(flex, column, space-around, flex-start);
                    .user_data_widget_name{
                        @include fontSet($fontFamily_montserrat, 35px, normal, 700, $white);
                        margin-bottom: 20px;
                        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                    .user_data_widget_about{
                        @include fontSet($fontFamily_montserrat, 17px, normal, 600, $white);
                        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    }
                }
                .stats_widgets{
                    @include flexBox(flex, column, space-around, flex-start);
                    .stats_widget_days{
                        @include size(275px, 170px);
                        background-color: $lightyellow;
                        border-radius: 20px;
                        padding: 25px;
                        @include flexBox(flex, column, space-around, flex-start);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        @include fontSet($fontFamily_montserrat, 17px, normal, 600, $darkgreen);
                        .stats_widget_days_data{
                            @include flexBox(flex, row, space-around, center);
                            @include fontSet($fontFamily_source, 45px, normal, 800, $green);
                            .stats_widget_days_data_img{
                                margin-right: 20px;
                                @include size(39px, 43px);
                                background: url('../img/flame.png');
                            }
                        }

                    }
                    .stats_widget_modules{
                        margin-top: 40px;
                        @include size(275px, 170px);
                        @include flexBox(flex, column, space-around, flex-start);
                        background-color: $lightyellow;
                        border-radius: 20px;
                        padding: 20px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        @include fontSet($fontFamily_montserrat, 17px, normal, 600, $darkgreen);
                        .stats_widget_modules_data{
                            @include flexBox(flex, row, space-around, center);
                            @include fontSet($fontFamily_source, 45px, normal, 800, $green);
                            .stats_widget_modules_data_img{
                                margin-right: 20px;
                                @include size(57px, 58px);
                                background: url('../img/progress.png');
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1300px){
        .Dashboard_content{
            .Dashboard_content_right{
                .Dashboard_content_right_widget{
                    @include size(300px, 685px);
                    .user_data_widget{
                        .user_data_widget_name{
                            font-size: 28px;
                        }
                    }
                    .stats_widgets{
                        .stats_widget_days{
                            @include size(220px, 170px);
                            font-size: 14px;
                        }
                        .stats_widget_modules{
                            font-size: 14px;
                            @include size(220px, 170px);
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1000px){
        .Dashboard_content{
            @include flexBox(flex, column-reverse, center, center);
            .Dashboard_content_left{
                @include flexBox(flex, column, center, center);
                @include size(100%, auto);
                padding: 0px;
                .Dashboard_content_left_top{
                    @include flexBox(flex, column, center, center);
                    .Dashboard_content_left_top_congrats{
                        @include flexBox(flex, row, center, center);
                    }
                }
            }
            .Dashboard_content_right{
                margin-bottom: 60px;
                @include flexBox(flex, column-reverse, center, center);
                @include size(100%, auto);
                padding: 0px;
                .Dashboard_content_right_widget{
                    @include size(60%, 200px);
                    .stats_widgets{
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 630px){
        .Dashboard_error_message{
            .Dashboard_error_message_txt{
                width: 300px;
            }
        }
        .Dashboard_content{
            .Dashboard_content_left{
                .Dashboard_content_left_top{
                    @include size(65%, auto);
                    @include flexBox(flex, column, center, center);
                    .Dashboard_content_left_top_congrats{
                        @include flexBox(flex, row, center, center);
                        margin-bottom: 20px;
                        p{
                            @include fontSet($fontFamily_montserrat, 20px, normal, 700, $darkgreen);
                        }
                        span{
                            @include fontSet($fontFamily_montserrat, 20px, normal, 700, $darkgreen);
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                    .Dashboard_content_left_top_modules{
                        .Dashboard_content_left_top_modules_logo{
                            margin-left: 100px;
                            .Dashboard_content_left_top_modules_logo_txt{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 430px){
        .Dashboard_content{
            .Dashboard_content_right{
                .Dashboard_content_right_widget{
                    @include size(60%, 200px);
                    .user_data_widget{
                        .user_data_widget_name{
                            font-size: 18px;
                        }
                        .user_data_widget_about{
                            font-size: 12px;
                        }
                }
            }
        }
    }
    }
}