$main-color: #13CFA2;
$background-color: #FDFFF7;

.App {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1E352F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: $main-color;
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    &:hover {
      color: $main-color;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  padding: 40px;
}

form {

  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: $main-color;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: darken($main-color, 10%);
    }
  }
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  a {
    color: $main-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
