@import '././style/mixins.scss';
@import '././style/variables.scss';

.ModuleCard{
    @include flexBox(flex, row, space-between, flex-start);
    @include size(730px, 270px);
    text-decoration: none;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: $lightyellow;
    border: 2px solid $darkgreen;
    padding: 45px 30px;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.25);
    .ModuleCard_txt{
        @include flexBox(flex, column, space-around, flex-start);
        user-select: none;
        .ModuleCard_txt_h3{
            @include fontSet($fontFamily_source, 34px, normal, 700, $green);
            margin-bottom: 16px;
            max-width: 300px;
            line-height: 30px;
        }
        .ModuleCard_txt_p{
            width: 360px;
            max-width: 300px;
            @include fontSet($fontFamily_montserrat, 14px, normal, 500, $black);

        }
    }
    .ModuleCard_tags{
        @include size(auto, 270px);
        cursor: pointer;
        @include flexBox(flex, column, flex-start, flex-start);
        .ModuleCard_tag{
            padding: 10px;
            margin-bottom: 5px;
            @include size(auto, 40px);
            border-radius: 20px;
            background-color: $darkgreen;
            @include fontSet($fontFamily_montserrat, 15px, normal, 500, $white);
        }
    }
    .ModuleCard_progress{
        @include flexBox(flex, column, space-around, flex-start);
        .ModuleCard_progress_cap{
            @include fontSet($fontFamily_montserrat, 17px, normal, 600, $black);
            text-align: center;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .ModuleCard_progress_visuals{
            @include size(100px, 100px);
            @include flexBox(flex, column, center, center);
            border-radius: 100px;
            border: 7px dotted $darkgreen;
            .ModuleCard_progress_visuals_p{
                @include fontSet($fontFamily_source, 30px, normal, 800, $green);
            }
        }
    }
    @media (max-width:1300px){
        @include size(560px, 270px);
        .ModuleCard_tags{
            padding: 20px;
            .ModuleCard_tag{
                @include flexBox(flex, column, center, center);
                font-size: 10px;
                text-align: center;
                @include size(80px, 35px);
            }
        }
        .ModuleCard_progress{
            .ModuleCard_progress_cap{
                margin-left: 5px;
                @include fontSet($fontFamily_montserrat, 15px, normal, 600, $black);
            }
            .ModuleCard_progress_visuals{
                @include size(80px, 80px);
                .ModuleCard_progress_visuals_p{
                    @include fontSet($fontFamily_source, 20px, normal, 800, $green);
                }
            }
        }
    }
    @media (max-width:1125px){
        @include size(470px, 270px);
        .ModuleCard_txt{
            .ModuleCard_txt_h3{
                max-width: 200px;
                font-size: 20px;
                line-height: 20px;
            }
            .ModuleCard_txt_p{
                max-width: 200px;
            }
        }
    }
    
    @media (max-width:1000px){
        @include size(560px, 270px);
        .ModuleCard_tags{
            padding: 20px;
            .ModuleCard_tag{
                @include flexBox(flex, column, center, center);
                font-size: 10px;
                text-align: center;
                @include size(80px, 35px);
            }
        }
        .ModuleCard_progress{
            .ModuleCard_progress_cap{
                margin-left: 5px;
                @include fontSet($fontFamily_montserrat, 15px, normal, 600, $black);
            }
            .ModuleCard_progress_visuals{
                @include size(80px, 80px);
                .ModuleCard_progress_visuals_p{
                    @include fontSet($fontFamily_source, 20px, normal, 800, $green);
                }
            }
        }
    }
    @media (max-width:630px){
        @include size(470px, 270px);
        .ModuleCard_txt{
            .ModuleCard_txt_h3{
                max-width: 200px;
                font-size: 20px;
                line-height: 20px;
            }
            .ModuleCard_txt_p{
                max-width: 200px;
            }
        }
    }
    
    @media (max-width:500px){
        @include size(360px, 290px);
        .ModuleCard_txt{
            .ModuleCard_txt_h3{
                max-width: 200px;
                font-size: 20px;
                line-height: 20px;
            }
            .ModuleCard_txt_p{
                max-width: 200px;
            }
        }
        .ModuleCard_progress{
            display: none;
        }
    }
}