@import '././style/mixins.scss';
@import '././style/variables.scss';

.FlashcardSettings{
    @include size(100%, 600px);
    background-color: $lightyellow;
    padding: 40px 0px;
    @include flexBox(flex, column, center, flex-start); 
    .FlashcardSettings_cap{
        @include fontSet($fontFamily_montserrat, 30px, normal, 700, $green);
        margin-bottom: 26px;
    }
    main{
        @include flexBox(flex, column, flex-start, flex-start); 
        .FlashcardSettings_row1{
            @include size(100%, auto);
            @include flexBox(flex, row, space-around, flex-start);
            .FlashcardSettings_row1_quantity{
                @include size(300px, 70px);
                border: 2px solid $darkgreen;
                border-radius: 25px;
                @include fontSet($fontFamily_montserrat, 17px, normal, 600, $darkgreen);      
                padding: 10px;
                cursor: pointer;
                @include flexBox(flex, row, space-around, center);
                .FlashcardSettings_row1_quantity_img{
                    @include size(50px, 50px);
                    margin-top: 20px;
                    background: url('../../pages/img/arrow_settings.png') no-repeat;
                }
                .FlashcardSettings_row1_quantity_input{
                    @include size(40px, 40px);
                    border-radius:5px;
                    border: none;
                    margin-left: 10px;        
                    @include fontSet($fontFamily_montserrat, 20px, normal, 700, $green);      
                    background-color: transparent;
                }
            }
            .FlashcardSettings_row1_terms{
                @include size(300px, 70px);
                border: 2px solid $darkgreen;
                border-radius: 25px;
                margin-left: 40px;
                @include flexBox(flex, row, space-around, center);
                .FlashcardSettings_row1_terms_txt{
                    cursor: pointer;
                    @include flexBox(flex, column, space-around, center);
                    .FlashcardSettings_row1_terms_txt_p{
                        text-align: left;    
                        @include fontSet($fontFamily_montserrat, 17px, normal, 600, $black);  
                        span{
                            @include fontSet($fontFamily_montserrat, 17px, normal, 700, $green);  
                        }    
                    }
                }
            }
        }
        .FlashcardSettings_row2{
            @include size(100%, auto);
            margin-top: 20px;
            @include flexBox(flex, row, space-between, flex-start);
            .FlashcardSettings_row2_studymode{
                @include size(300px, 70px);
                border: 2px solid $darkgreen;
                border-radius: 25px;
                @include flexBox(flex, row, space-around, center);
                @include fontSet($fontFamily_montserrat, 17px, normal, 600, $black);  

            }
            .FlashcardSettings_row2_save{
                text-decoration: none;
                @include size(150px, 70px);
                border: none;
                border-radius: 25px;
                cursor: pointer;
                @include fontSet($fontFamily_montserrat, 17px, normal, 600, $white);  
                background-color: $darkgreen;
            }
        }
    }
    .FlashcardSettings_other{
        @include size(100%, 100px);
        padding-top: 40px;
        .FlashcardSettings_saved_info{
            @include fontSet($fontFamily_montserrat, 20px, normal, 600, $black);  
            span{
                color: $green;
            }
        }
    }
    @media (max-width: 1000px){
        padding: 0px;
        margin-bottom: -200px;
        .FlashcardSettings_other{
            @include size(100%, 100px);
            padding-top: 40px;
        }
    }
    @media (max-width: 700px){
        padding: 0px;
        margin-bottom: -200px;
        main{
            .FlashcardSettings_row1{
                .FlashcardSettings_row1_quantity{
                    @include size(240px, 60px);
                    font-size: 14px;
                }
                .FlashcardSettings_row1_terms{
                    @include size(240px, 60px);
                    .FlashcardSettings_row1_terms_txt{
                        .FlashcardSettings_row1_terms_txt_p{
                            font-size: 14px;
                            .span{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .FlashcardSettings_row2{
                .FlashcardSettings_row2_studymode{
                    @include size(240px, 60px);
                    font-size: 14px;
                }
                .FlashcardSettings_row2_save{
                    @include size(110px, 60px);
                    font-size: 14px;
                }
            }
        }
        .FlashcardSettings_other{
            @include size(100%, 100px);
            padding-top: 40px;
        }
    }
    @media (max-width: 550px){
        @include flexBox(flex, column, center, center); 
        padding: 0px;
        margin-bottom: -200px;
        .FlashcardSettings_cap{
            font-size: 18px;
        }
        main{
            .FlashcardSettings_row1{
                @include flexBox(flex, column, center, center);
                .FlashcardSettings_row1_quantity{
                    margin: 0px;
                    @include size(240px, 60px);
                    margin-bottom: 30px;
                    font-size: 14px;
                }
                .FlashcardSettings_row1_terms{
                    @include size(240px, 60px);
                    margin: 0px;
                    .FlashcardSettings_row1_terms_txt{
                        .FlashcardSettings_row1_terms_txt_p{
                            font-size: 14px;
                            .span{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .FlashcardSettings_row2{
                @include flexBox(flex, column, center, center);
                .FlashcardSettings_row2_studymode{
                    @include size(240px, 60px);
                    font-size: 14px;
                    margin-bottom: 30px;
                }
                .FlashcardSettings_row2_save{
                    @include size(110px, 60px);
                    font-size: 14px;
                }
            }
        }
        .FlashcardSettings_other{
            @include size(100%, 100px);
            padding-top: 40px;
            margin-bottom: 30px;
            .FlashcardSettings_saved_info{
                @include fontSet($fontFamily_montserrat, 14px, normal, 600, $black);  
                span{
                    color: $green;
                }
            }
        }
    }
}