@import '././style/mixins.scss';
@import '././style/variables.scss';


.loginContainer{
    @include flexBox(flex, column, center, center);
    @include size(100%, auto);
    min-height: 620px;
    background-color: $lightyellow;
    .loginContainer_cap{
        @include fontSet($fontFamily_montserrat, 25px, normal, 700, $darkgreen);
        margin-bottom: 30px;
    }
    .loginContainer_form{
        @include flexBox(flex, column, center, center);
        @include size(100%, auto);
        margin-bottom: 30px;
        label{
            @include fontSet($fontFamily_montserrat, 17px, normal, 600, $darkgreen);
        }
        .loginContainer_form_input{
            @include size(500px, 40px);
            @include fontSet($fontFamily_source, 17px, normal, 400, $darkgreen);
            margin-top: 5px;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #ECFDF9;
            border-radius: 10px;
            border: 1px solid $green;
            cursor: pointer;
        }
        .loginContainer_link{
            margin-top: 10px;
            margin-bottom: 20px;
            @include fontSet($fontFamily_montserrat, 17px, normal, 600, $green);
            text-decoration: none;
            transition: 0.2s;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
                text-underline-offset: 10px;
                transition: 0.2s;
            }
        }
    }
    .loginContainer_btn{
        @include size(200px, 60px);
        border-radius: 25px;
        @include fontSet($fontFamily_montserrat, 17px, normal, 600, $white);
        background-color: $darkgreen;
        cursor: pointer;
        border: none;
    }
    @media (max-width: 600px) {
        .loginContainer_cap{
            font-size: 18px;
        }
        .loginContainer_form{
            .loginContainer_form_input{
                @include size(330px, 40px);
            }
            .loginContainer_link{
                font-size: 15px;
            }
        }
    }
}