@import '././style/mixins.scss';
@import '././style/variables.scss';


.register-form{
    @include flexBox(flex, column, center, center);
    @include size(100%, auto);
    min-height: 700px;
    background-color: $lightyellow;
    h1{
        @include fontSet($fontFamily_montserrat, 25px, normal, 700, $darkgreen);
        margin-bottom: 30px;
    }
    form{
        @include flexBox(flex, column, center, center);
        @include size(100%, auto);
        margin-bottom: 30px;
        input{
            @include size(500px, 40px);
            @include fontSet($fontFamily_source, 17px, normal, 400, $darkgreen);
            margin-top: 5px;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #ECFDF9;
            border-radius: 10px;
            border: 1px solid $green;
            cursor: pointer;
        }
        p{
            @include fontSet($fontFamily_montserrat, 17px, normal, 600, $darkgreen);
            a{
                color: $green;
                text-decoration: none;
            }
        }
    }
    button{
        @include size(200px, 60px);
        border-radius: 25px;
        @include fontSet($fontFamily_montserrat, 17px, normal, 600, $white);
        background-color: $darkgreen;
        cursor: pointer;
    }
}