@import '././style/mixins.scss';
@import '././style/variables.scss';


.registerForm{
    @include flexBox(flex, column, center, center);
    @include size(100%, auto);
    min-height: 700px;
    background-color: $lightyellow;
    .registerForm_cap{
        @include fontSet($fontFamily_montserrat, 25px, normal, 700, $darkgreen);
        margin-bottom: 30px;
    }
    .registerForm_form{
        @include flexBox(flex, column, center, center);
        @include size(100%, auto);
        margin-bottom: 30px;
        .registerForm_form_error{
            min-height: 30px;
            @include fontSet($fontFamily_source, 17px, normal, 700, $green);
            margin-top: 20px;
        }
        .registerForm_form_input{
            @include size(500px, 40px);
            @include fontSet($fontFamily_source, 17px, normal, 400, $darkgreen);
            margin-top: 5px;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #ECFDF9;
            border-radius: 10px;
            border: 1px solid $green;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
        .registerForm_form_link{
            @include fontSet($fontFamily_montserrat, 17px, normal, 600, $darkgreen);
            .registerForm_form_link_a{
                color: $green;
                text-decoration: none;
            }
        }
    }
    .registerForm_form_btn{
        @include size(200px, 60px);
        border-radius: 25px;
        @include fontSet($fontFamily_montserrat, 17px, normal, 600, $white);
        background-color: $darkgreen;
        cursor: pointer;
        border: none;
        margin-top: 40px;
    }
    @media (max-width: 600px){
        .registerForm_cap{
            font-size: 17px;
        }
        .registerForm_form{
            .registerForm_form_input{
                @include size(300px, 40px);
            }
            .registerForm_form_link{
                font-size: 14px;
            }
        }
    }
}